@model LibraryApp.Models.Patron.PatronDetailModel

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Patron Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <div class="patronContact">
                        <div id="patronCard">Library Card Id: @Model.LibraryCardId</div>
                        <div id="patronAddress">Patron Address: @Model.PatronAddress</div>
                        <div id="patronTel">Telephone: @Model.Telephone</div>
                        <div id="patronDate">Member Since: @Model.MemberSince</div>
                        <div id="patronLibrary">Home Library: @Model.HomeLibraryBranch</div>
                        @if(Model.OverdueFees > 0)
                        {
                            <div id="patronHasFees">Fees Due: $@Model.OverdueFees</div>
                        }
                        else
                        {
                            <div id="patronNoFees">No Overdue Fees.</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Assets Currently Checked Out</h4>
                @if (Model.AssetsCheckedOut.Any())
                {
                    <div id="patronAssets">
                        <ul>
                            @foreach (var checkout in Model.AssetsCheckedOut)
                            {
                                <li>
                                    @checkout.LibraryAsset.Title - (Asset Id: @checkout.LibraryAsset.Id)
                                    <ul>
                                        <li>
                                            From: @checkout.Since
                                        </li>
                                        <li>
                                            Due: @checkout.Until
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>No items checked out.</div>
                }
            </div>
            <div class="col-md-4">
                <h4>Assets Currently On Hold</h4>
                @if (Model.Holds.Any())
                {
                    <div id="patronHolds">
                        <ul>
                            @foreach (var hold in Model.Holds)
                            {
                                <li>
                                    @hold.LibraryAsset.Title - Placed at @hold.HoldPlaced.ToLocalTime();
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>No Items On Hold</div>
                }
            </div>
        </div>
    </div>
</div>